# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.vscode/

# Integration / local test artifacts
**/.itest/
**/test.utf8
**/test.utf8.out
**/test.utf16
**/test.utf16.py
02.UTF-encoder/utfencoder
02.UTF-encoder/utest

02.UTF-encoder/Makefile.hdrdep
03.Gauss/gauss
03.Gauss/utest
03.Gauss/Makefile.hdrdep
*.hdrdep.bak
